@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #eee;
  margin: 0;
  color: #fff;
  line-height: 1.6;
}

nav {
  height: 40px;
  width: 100%;
  background-color: #222;
  color: #eee;
  position: fixed;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}

nav a:hover {
  color: #ff3b3b;
  font-size: 1.1rem;
}

nav a#openup {
  display: none;
}

@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none;
  }
  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}

img#brand-logo {
  width: 65px;
  height: 25px;
  margin: 0;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0 0 50px;
  margin: 5% auto;
  padding: 20px;
  color: #333;
  width: 80%;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* Animation */
}

.modal-content h1 {
  font-weight: bold;
  margin: 0;
}

.modal-content p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.modal-content span {
  font-size: 15px;
}

.modal-content #sign-in-close-btn {
  color: #333;
  background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  width: 10px;
  height: 75px;
  border: 1px solid #ff3b3b;
  border-radius: 50%;
  margin: 0 5px;
}

.modal-content #sign-in-close-btn:hover {
  color: #fff;
  background: #ff3b3b;
  border: 1px solid #fff;
}

.modal-content a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.modal-content .container {
  background: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.modal-content .form-container form {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modal-content .social-container {
  margin: 20px 0;
}

.modal-content .social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.modal-content .form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.modal-content button {
  border-radius: 20px;
  border: 1px solid #ff3b3b;
  background: #ff3b3b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

.modal-content button:hover {
  cursor: pointer;
}

.modal-content button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.modal-content button:focus {
  outline: none;
}

.modal-content button .ghost {
  background: transparent;
  border-color: #fff;
}

.modal-content .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.modal-content .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.modal-content .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.modal-content .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  z-index: 100;
}

.modal-content .overlay-container .overlay {
  background: #222;
  background: -webkit-gradient(linear, left top, right top, from(#333), to(#222)) no-repeat 0 0/cover;
  background: linear-gradient(to right, #333, #222) no-repeat 0 0/cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.modal-content .overlay-container .overlay .overlay-panel {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.modal-content .overlay-container .overlay .overlay-right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal-content .overlay-container .overlay .overlay-left {
  -webkit-transform: translateX(-20);
          transform: translateX(-20);
}

.modal-content .container.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.modal-content .container.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.modal-content .container.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.modal-content .container.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.modal-content .container.right-panel-active .overlay-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.closeBtn {
  color: #bbb;
  float: right;
  font-size: 50px;
}

.closeBtn:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */