@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #eee;
  margin: 0;
  color: #fff;
  line-height: 1.6;
}

nav {
  //top: 0; // Fix the menu to the top
  //position: fixed; // Fix the menu to the top
  height: 40px;
  width: 100%;
  background-color: #222;
  color: #eee;
  position: fixed;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
    float: left;
  }

  a {
  	display: inline-block;
	  width: 100px;
	  text-align: center;
	  text-decoration: none;
	  padding: 10px 0;
    color: #eee;
    text-decoration:none;  

    &:hover{
        color: #ff3b3b;
        font-size: 1.1rem;
    }
  }

  

  a#openup {
	  display: none;
  }
} //nav

@media screen and (max-width: 580px) {

    .hide-on-small{
        display: none;
    }

  nav {
		height: auto;
		border-bottom: 0;
	
	  ul {
		  display: none;
		  height: auto;
	  }	
	
	  li {
		  width: 100%;
		  float: left;
		  position: relative;
    }

  	a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
			background: #333;	 
      border-bottom: 1px solid #555;
  	}  	
	
  	 a:hover {
	  	background: #444;
  	}

	  a#openup:after {
		  content:"|||";
      transform:rotate(-90deg);
      -ms-transform:rotate(-90deg); /* IE 9 */
      -webkit-transform:rotate(-90deg); /* Safari and Chrome */
		  width: 30px;
		  height: 30px;
		  display: inline-block;
		  position: absolute;
		  right: 5px;
		  top: 20px;
	  }
  	  		
	  a#openup {
		  display: block;
		  background-color: #333;
		  width: 100%;
		  position: relative;
	  }
  } //nav

  

} // media

img#brand-logo{
    width: 65px;
    height: 25px;
    margin: 0;
}

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */

//Modal
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba($color: #000000, $alpha: 0.5);
}

.modal-content{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 0 50px;
    background: #ff3b3b;
    margin: 5% auto;
    padding: 20px;
    color: #333;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
    animation-duration: 1s;

    h1{
        font-weight: bold;
        margin: 0;
    }

    p{
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    span{
        font-size: 15px;
    }

    #sign-in-close-btn{
        color: #333;
        font-size: 50px;

        &:hover{
            color: #fff;
        }

    }

    a{
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    .container{
        background: #fff;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }

    .form-container form{
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .social-container{
        margin: 20px 0;

        a{
            border: 1px solid #ddd;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            height: 40px;
            width: 40px;
        }
    }

    .form-container input{
        background: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }

    button{
        border-radius: 20px;
        border: 1px solid #ff3b3b;
        background: (#ff3b3b);
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;

        &:active{
            transform: scale(0.95);
        }

        &:focus{
            outline: none;
        }

        .ghost{
            background: transparent;
            border-color: #fff;
        }
    }

    .form-container{
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in-container{
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .sign-up-container{
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }

    .overlay-container{
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.4s ease-in-out;
        z-index: 100;

        .overlay{
            background: #222;
            background: linear-gradient(to right, #333, #222) no-repeat 0 0 / cover;
            color: #fff;
            position: relative;
            left:-100%;
            height: 100%;
            width:200%;
            transform: translateX(0);
            transition: transform 0.4s ease-in-out;

            .overlay-panel{
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 40px;
                height: 100%;
                width: 50%;
                text-align: center;
                transform: translateX(0);
                transition: transform 0.4s ease-in-out;
            }

            .overlay-right{
                right: 0;
                transform: translateX(0);
            }

            .overlay-left{
                transform: translateX(-20);
            }
        }
    }

    /* Animation */

    .container.right-panel-active .sign-in-container{
        transform: translateX(100%);
    }

    .container.right-panel-active .overlay-container{
        transform: translateX(-100%);
    }

    .container.right-panel-active .sign-up-container{
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
    }

    .container.right-panel-active .overlay{
        transform: translateX(50%);
    }

    .container.right-panel-active .overlay-left{
        transform: translateX(0);
    }
}

//Modal Ends

//Close Button
.closeBtn{
    color: #bbb;
    float: right;
    font-size: 50px;

    &:hover{
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}
//Close Button

@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}

//Modal